<template name="about">
    {{>navMenu}}
    <section id= "aboutHeader">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <h3>  Every baby should eat well,
              <br>for today and tomorrow </h3>
          </div>
        </div>
      </div>
    </section>
    <section id= "aboutDescription">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <div class="philosophyBackground">
              <div class="philosophyBlock">
                <h4>Baby’s Purest is committed to offer environmentally friendly products while making healthy eating easier for our next generation. We source local fresh produce from USDA organic certified farms and comply with the highest food safety standards. Through our website, parents can easily customize meal plans that fit their baby’s nutritional needs at every stage of the first year. Baby's Purest is building a fundamentally new way to provide healthier and more nutritious baby food  that helps parents easily achieve better work-life balance.

                </h4>
                <h4>
                  Share with us at
                  <a href="mailto: feedback@babypurest.com?Subject=Hello%20Baby's%20Purest,%20I%20Want%20You%20To%20Know......." class="underline"> feedback@babypurest.com </a>
                </h4>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id= "aboutTeam">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <div class="aboutContent">
              <div class="aboutTitle">
                <h3>The Team of Caring Parents</h3>
              </div>
              <div class="teamMemberProfile">
                <h4>Co-founder &amp; Chief Executive Officer</h4>
                <h5>Y<small>U-</small>D<small>E</small> L<small>EE</small></h5>
                <p>Yu-De has responsibility for keeping a general oversight of the operation and strategy, as well as technology development. Prior to Baby's Purest, Yu-De worked more than seven years with Procter &amp; Gamble and Maersk Line in many cities in Asia, help develop business-transforming solutions. Yu-De graduated from University of Michigan, Ann Arbor with dual Masters degrees in Environmental Science and Applied Economics in 2014. When not working, Yu-De is a happy chief for his two-year-old girl.

                </p>
                <h4>Co-founder &amp; Chief Marketing Officer</h4>
                <h5>N<small>IEN-</small>C<small>HI</small> W<small>U</small></h5>
                <p>Nien-Chi is a cooking lover and very passionate about exploring gourmet recipes around the world. As a mother of two little daughters, she only chooses organic fresh foods for her little ones because she believes that healthy eating habits begin with high-quality ingredients. With this belief, Nien-Chi decided to establish Baby’s Purest to provide the healthiest and freshest food for babies and bring peace in mind for their busy weary parents. Nien-Chi received a MA degree in Social Science in Katholieke University of Leuven, Belgium and worked in PR and environmental energy and economics section for four years.

                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    {{>mainFooter}}
</template>
