<template name="faq">
    {{>navMenu}}
    <section id= "faqDescription">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <div class="faqBackground clearfix">
              <div class="faqBlockWrap">
                <h3>Baby's Purest Help Center</h3>
                <div class="col-md-6">
                  <div class="faqBlock aboutBP">
                    <h4>About Baby’s Purest</h4>
                    <div class="questionBlock">
                      <h5>1. How does Baby’s Purest work?</h5>
                      <p> Baby’s Purest delivers 100% organic, fresh, local baby food right to your door every week. We do the menu planning, shopping, cooking, and delivering meals. All you have to do is unthaw and enjoy! We have no membership fee, and no minimum commitment. You can skip any week’s delivery in advance or cancel.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>2. How do your three meal plans work?</h5>
                      <p> We offer three meal plans for parents and caregivers. <br><br>Our Small Box Plan is great for solid food beginners. You will receive seven 4oz jars of seasonal flavors each week, and each 4oz jar may offer your little one 2-3 servings per day. We customize your menu based on your baby’s age and dietary preferences (which you can change or update at any time). <br><br>With our Medium Box Plan, you will receive fourteen 4oz jars of seasonal flavors every week. This meal plan is suitable for 8 month to 10 month old babies who need more serving sizes per day.<br><br>Our Big Box Plan is perfect for babies older than 10 months or busy families. You will receive twenty-one 4oz jars of seasonal flavors per week. Usually many babies at 10 months old will begin to eat 4oz per meal, 3 meals a day. <br><br>If your baby is more experienced with solid foods, you can blend our products with breast milk, formula, or infant cereals.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>3. Can I choose my recipes?</h5>
                      <p> With our three meal plans, each week we customize your menu based on your baby’s age and dietary preferences (which you can change or update at any time). To select your dietary preferences, you can either tell us which ingredients your baby does or does not eat durgin sign-up, or after by visiting “My Account.” You can update or change these preferences at any time. Once you have set your baby’s dietary preferences we will send you recipes that match your preferences.
                      </p>
                    </div>
                  </div>

                  <div class="faqBlock aboutSND">
                    <h4>About Shipping and Delivery</h4>
                    <div class="questionBlock">
                      <h5>1. Where do you deliver?</h5>
                      <p> Click here: <a href="https://www.babypurest.com/signup">&nbsp;https://www.babypurest.com/signup</a> to see if we deliver to you.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>2. When will my delivery arrive?</h5>
                      <p> We deliver every Monday before 8pm. Delivery is always free.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>3. Do I need to be home or office to receive the delivery?</h5>
                      <p> We recommend you to do so in order to ensure the baby food stay frozen. If you are not available when delivery arrives, we will send a notice to you at the moment to remind you pick up the package as soon as possible.

                      <br><br>Once you received the delivery, we also recomend that you freeze it immediately. <br><br>To achieve the best food safety, we use insulated coolers with ice packs to ensure your baby food stay fresh during delivery. Once our delivery route has been determined we will contact you via an e-mail or mobile phones with an estimated time.
                      </p>
                    </div>
                  </div>


                  <div class="faqBlock aboutDeposit">
                    <h4>About Deposit and Return Policy</h4>
                    <div class="questionBlock">
                      <h5>1. Why do you charge a $5 refundable deposit upon purchase?</h5>
                      <p> For environmental sustainability, we encourage our customers to return insulated coolers and ice packs for future use. Therefore, a $5 refundable deposit per insulated bag is charged upon purchase and can be refunded after you return insulated coolers and ice packs.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>2. How do I return the insulated bags?</h5>
                      <p> Simply hand over insulated bags and ice packs to our delivery team or leave them on your door steps upon your next delivery day. Once we receive your insulated bags, we’ll issue you $5 for each insulated cooler and ice packs return.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>3. What are return and refund policies?</h5>
                      <p> Due to the perishable nature of the food, Baby’s Purest does not accept returns. If you are not satisfied with your order, please contact us immediately.
                      </p>
                    </div>

                  </div>

                </div>

                <div class="col-md-6">
                  <div class="faqBlock aboutRecipesNIngredients">
                    <h4>About Recipes and Ingredients</h4>
                    <div class="questionBlock">
                      <h5>1. Do you make every recipe from scratch?</h5>
                      <p> Yes. All of the ingredients are delivered fresh to our kitchen and every recipe is made from scratch.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>2. Where do you source your ingredients?</h5>
                      <p> We are committed to purchasing fresh produce from local farmers as much as possible. Please click <a href="/farmers">here</a> to know more about our trusted farm partners!
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>3. Is every single ingredient in your recipes organic?</h5>
                      <p> Yes. We only source 100% organic ingredients from farms with organic certification.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>4. Are Baby’s Purest baby foods gluten free?</h5>
                      <p> No. Most of our baby food products are gluten free, but they are not produced in a gluten free facility.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>5. Are Baby’s Purest baby foods made in a nut-free facility?</h5>
                      <p> No. We share a kitchen with other small businesses, but we take all the steps we can to minimize cross-contamination and ensure that our products are nut-free.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>6. What if my baby has allergies or food sensitivities?</h5>
                      <p> Our recipes are allergy-conscious and all of our products have warning labels about “the Big 8” food allergens, including milk, eggs, fish, shellfish, tree nuts, peanuts, wheat, and soy. If you have any questions or concerns about your baby’s allergies, please consult your pediatrician or nutritionist.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>7. Do you add water to your baby food?</h5>
                      <p> For texture consistency, we use “boiled filtered water” in all of our baby food.
                      </p>
                    </div>
                  </div>



                  <div class="faqBlock aboutServingInstructions">
                    <h4>About Serving Instructions</h4>
                    <div class="questionBlock">
                      <h5>1. How do I store my baby food?</h5>
                      <p> Once you receive your baby food, be sure to freeze in the freezer as soon as possible to preserve freshness and retain nutrients.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>2. How do I heat my baby food?</h5>
                      <p> Thaw your baby food in the refrigerator overnight. Once thawed, you can transfer to a microwave-safe bowl and heat for approximately 30 seconds - 1 minute or heat gently on the stovetop. Be sure to stir and test before serving to ensure that there are no hot spots.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>3. Can Baby’s Purest baby food be eaten right out of the refrigerator?</h5>
                      <p> Yes. For smaller serving size, please transfer the desired quantity to a feeding bowl and return the remaining to the refrigerator.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>4. Can Baby’s Purest baby food be combined with infant cereals?</h5>
                      <p> Yes. If your baby is more experienced with solid foods, you can blend our products with breast milk, formula, or infant cereals.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>5. Once thawed, how long will the baby food last in my fridge?</h5>
                      <p> We recommend eating your baby food within two days of thawing.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>6. How long will my baby food last in the freezer?</h5>
                      <p> We recommend using your baby food within two weeks of purchase.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>7. Are your containers BPA free and environmentally friendly?</h5>
                      <p> Yes. Our containers are BPA free, completely recyclable, and freezer safe.
                      </p>
                    </div>

                    <div class="questionBlock">
                      <h5>8. Can your containers be microwaved?</h5>
                      <p> No. Please thaw your baby food in the refrigerator overnight before serving or heating.
                      </p>
                    </div>
                  </div>

                  <div class="otherQA">
                    Have other questions?
                    <a href="mailto: question@babypurest.com?Subject=Hello%20Baby's%20Purest,%20Question%20For%20You" class="underline"> question@babypurest.com </a>
                  </div>


                </div>










              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    {{>mainFooter}}
</template>
