#subscription {
  padding-top: 85px;
  text-align: center;
  background-color: rgb(240, 255, 233);
  padding-bottom: 40px;
}

#subscription h3 {
  margin-bottom: 7px;
  padding-bottom: 0px;
  font-size: 32px;
  line-height: 1.1em;
  font-family: "Gentium Book Basic", sans-serif;
  font-weight: 700;
  float: left;
  width: 100%;
}

#subscription p {
  font-family: "Quando", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 14px;
  padding-top: 10px;
  color: rgb(84, 173, 40);
  margin-bottom: 5px;
}

#subscription .subscriptionContent p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

#subscription .line {
  border-top: 1px solid #c3c3c3;
  display: block;
}

#subscription h4 {
  text-align: left;
  font-size: 20px;
  float: left;
  width: 100%;
}

#subscription .paymentTitle .warningIcon{
  margin-left: 4px;
}

#subscription h5 {
  font-size: 16px;
  text-align: left;
  float: left;
  width: 100%;
}

#subscription .subscriptionBlock {
  width: 80%;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background-color: white;
  margin: auto;
  font-family: "Gentium Book Basic", sans-serif;
  margin-top: 25px;
}

#subscription .pricingDescription {
  margin-top: 0px;
  margin-bottom: 10px;
}

.subscriptionTop {
  border-bottom: 1px solid #c3c3c3;
}

.subscriptionSummary  {
  display: inline-block;
  padding: 20px;
  float: left;
  width: 60%;
  border-right: 1px solid #c3c3c3;
}

.subscriptionSelection {
  display: inline-block;
  padding: 20px;
  float: left;
  width: 100%;
}

#subscription .subscriptionSummary h4{
  text-align: center;
}

.subscriptionContent {
  display: block;
  width: 100%;
  float: left;
}

.subscriptionContent highlight {
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #f48338;

}

#subscription .editProfileButton {
  width: 100%;
  float: left;
}

#subscription .editProfileButton label{
  width: auto;
  margin-right: 4%;
  color: rgb(84, 173, 40);

}

.editProfileButton button {
  float: right;
  font-family: "Gentium Book Basic", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-left: 10px;
}

#subscription label {
  display: block;
  width: 100%;
  float: left;
  text-align: left;
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  color: rgb(84, 173, 40);

}


.subscriptionSelection .pricingBlockBackground {
  width: 100%;
  padding: 2px;
}

.subscriptionSelection .pricingBlockBackground .pricingBlock{
  width: 100%;
  display: inline-block;
  border: 1px solid #c3c3c3;
}

.subscriptionSelection .active .pricingBlockBackground .pricingBlock{
  border: 1px solid rgb(84, 173, 40);
}


.subscriptionSelection .pricingBlock .pricingImg{
  width: 100%;
  display: inline-block;
}

#subscription .subscriptionSelection h4 {
  text-align: center;
  color: #c3c3c3;
}

#subscription .subscriptionSelection .active h4 {
  text-align: center;
  color: rgb(84, 173, 40);
}

#subscription .subscriptionSelection p {
  width: 100%;
  height: 76px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  color: #c3c3c3;
}

#subscription .subscriptionSelection .active p {
  color: rgb(84, 173, 40);
}

#subscription .row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#subscription .col-left {
  width: 48%;
  float: left;
  padding: 0;
}

#subscription .col-right {
  float: left;
  margin-left: 4%;
  width: 48%;
  padding: 0;

}

#subscription th {
  font-size: 16px;
  font-family: "Gentium Book Basic", sans-serif;
  font-weight: 700;
  color: #777;
  border-bottom: 2px solid #999;
}

#subscription td {
  font-size: 12px;
  font-family: "Quando", sans-serif;
  font-weight: 300;
  color: #999;
  text-align: left;
}

.deliverySummaryWrap dt {
    width: 40%;
    float: left;
    text-align: left;
    height: 32px;
    font-family: "Gentium Book Basic", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: 300;
}

.deliverySummaryWrap dd {
  font-family: "Quando", sans-serif;
  width: 60%;
  float: right;
  text-align: left;
  height: 32px;
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.subscriptionSummarySection {
  margin-bottom: 15px;
}

.subscriptionSummarySection table {
  margin-bottom: 0px;
}

.weeklyTotal {
  margin-top: 20px;
  margin-bottom: 5px;
}

.subscribePaymentSection, .passwordSection {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  background-color: white;
  display: block;
}

.subscribePaymentBlock, .passwordBlock {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

#subscription input {
  line-height: 30px;
  font-family: "Quando", sans-serif;
  text-align: left;
  border-radius: 3px;
  display: inline-block;
  width: 98%;
  float: left;
  position: relative;
  border: 1px solid #c3c3c3;
  cursor: pointer;
  margin-right: 2%;
  padding-left: 2%;
  color: #666;
}

#subscription .expirationBlock {
  width: 66%;
  float: left;
}

#expirationDateYear {
  margin-left: 10px;
}

#subscription select {
  line-height: 30px;
  font-family: "Quando", sans-serif;
  text-align: left;
  border-radius: 3px;
  display: inline-block;
  width: 48%;
  float: left;
  position: relative;
  border: 1px solid #c3c3c3;
  cursor: pointer;
  height: 34px;
  background-color: white;
  color: #777;
}

.cvcInputBlock {
  width: 30%;
  float: left;
  display: inline-block;
  padding-left: 10px;
}

.passwordSection {
  margin-top: 20px;
}


#subscription .highlight.totalPrice {
  font-size: 18px;
  color: rgb(84, 173, 40);
}

#subscription .disclaimer {
  width: 100%;
  float:left;
}

#subscription .disclaimer p {
  margin-top: 0px;
  color: #777;
  text-align: left;
  font-family: Overlock;
  font-size: 16px;
}

#subscription .disclaimer a {
  margin-top: 0px;
  color: rgb(84, 173, 40);
  text-align: left;
  font-family: Overlock;
  font-size: 16px;
}

#startSubscription h5{
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 24px;
  color: white;
  margin: 0;
}

#startSubscription {
  font-family: "Gentium Book Basic", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 7px;
  margin-top: 27px;
  color: white;
  text-align: center;
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
  position:inherit;
}

#subscription .fieldWarningMessage {
  margin-bottom: 0;
}

#subscription .fieldWarningMessage p {
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: #e77930;
  font-size: 14px;

}

#subscription .fieldWarning {
  margin-top: 20px;
}
