#thankyou {
  padding-top: 85px;
  text-align: center;
  background-color: rgb(240, 255, 233);
  padding-bottom: 40px;
  background-image: url(/pearBackground.png);

}

#thankyou h3 {
  margin-bottom: 15px;
  padding-bottom: 0px;
  font-size: 32px;
  line-height: 1.1em;
  font-family: "Gentium Book Basic", sans-serif;
  font-weight: 700;
  float: left;
  width: 100%;
}

#thankyou p {
  font-family: "Quando", sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5em;
  font-size: 16px;
  padding-top: 10px;
  color: rgb(84, 173, 40);
  margin-bottom: 20px;
}

#thankyou .thankyouContent p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

#thankyou .line {
  border-top: 1px solid #c3c3c3;
  display: block;
}

#thankyou h4 {
  text-align: left;
  font-size: 20px;
  float: left;
  width: 100%;
}

#thankyou h5 {
  font-size: 16px;
  text-align: left;
  float: left;
  width: 100%;
}

#thankyou label {
    color: rgb(84, 173, 40);
    line-height: 1em;
    font-weight: 700;
    font-family: "Gentium Book Basic", sans-serif;
    font-size: 16px;
    padding-top: 12px;
    width: 30%;
    text-align: left;
    float: left;
    width: 100%;
    position: relative;
    display: block;
}

#thankyou .thankyouBlockBackground {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.06);
  -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.06);
  box-shadow: 0 0 0 2px rgba(0,0,0,0.06);
  background-color: white;
  border: 1px solid #c3c3c3;
  position: relative;
  z-index: 1;
  padding: 0;
  padding-bottom: 30px;
}


#thankyou .centralBlock {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#thankyou .calendarHeader{
  text-align: center;
  background-color:rgb(84, 173, 40);
  color: white;
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

#thankyou th, #thankyou td  {
  text-align: left;
  padding: 0;
}

#thankyou table {
  border-collapse: collapse!important;
}

#thankyou th {
  border: none;
  font-size: 14px;
  font-family: "Quando", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #666;
}

#thankyou td  {
 height: 60px;
 border-spacing: 0px;
 border-collapse: collapse;
 border: 1px solid #ddd!important;
 border-top: 0;
 font-family: "Quando", sans-serif;
 color: #999;
}

#thankyou td.invisible {
  border: 0!important;
}


#thankyou table {
    border-collapse: separate;
    empty-cells: hide;
    table-layout: fixed;

}

#thankyou .iconExplanation h5 {
  color: #888;
  display: inline-block;
  width: auto;
  margin-left: 12px;
}

.todayMarkBlock, .deliveryMarkBlock {
  width: auto;
  float: left;
  margin-right: 18px;
}

.manageAccount, .iconExplanation {
  width:100%;
  display: inline-block;
  margin-bottom: 10px;
}

#thankyou .todayMark {
  background: url("/todayHeart.png")  no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  float: left;
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 7px;
}


#thankyou .deliveryMark {
  background: url("/pearIcon.png")  no-repeat;
  background-size: contain;
  width: 24px;
  height: 36px;
  float: left;
  display: inline-block;
}

#thankyou .skipMark {
  background: url("/skipped.png")  no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  float: left;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 8px;
}

#thankyou .todayIcon {
  background: url("/todayHeart.png") no-repeat 50% 75%;
  background-size: 32px 32px ;
}

#thankyou .scheduled {
  background: url("/pearIcon.png") no-repeat 50% 75%;
  background-size: 28px 42px ;
}

#thankyou .skipped {
  background: url("/skipped.png") no-repeat 50% 75%;
  background-size: 32px 32px ;
}
