<template name="menuCalendar">
  {{>workStationNav}}
  <section id="menuCalendar">
    <div class='container-fluid'>
      <div class='row'>
        <div class="page-header">
          <h1>Menu <small>Management</small></h1>
        </div>
        <div class="rows">
          <div class="col-sm-4">
            <div class="calendarControl">
              <div id="previousMonthButton" class="calendarControlButton">
                <button type="button" class="btn btn-lg">
                  &#8678;
                </button>
              </div>
              <div class="description">

              </div>
              <div id="nextMonthButton" class="calendarControlButton">
                <button type="button" class="btn btn-lg">
                  &#8680;
                </button>
              </div>
            </div>
            <table id='menuCalendarTable' class='table table-striped table-bordered table-hover table-condensed'>
              <thead>
                <tr>
                  <th colspan="2">WK#     </th>
                  <th colspan="1">RLS     </th>
                  <th colspan="1">#RCP </th>
                  <th colspan="2">SU         </th>
                  <th colspan="2">MO        </th>
                  <th colspan="2">TU        </th>
                  <th colspan="2">WE        </th>
                  <th colspan="2">TH        </th>
                  <th colspan="2">FR        </th>
                  <th colspan="2">SA        </th>
                </tr>
                <tr>
                  <th colspan="17" id='menuCalendarThisMonth'> {{viewingMonth.thisMonthText}}, {{viewingMonth.thisYear}}    </th>
                </tr>
              </thead>
              <tbody>
                {{#each weekOfThisMonth}}
                  {{>menuCalendarWeeks}}
                {{/each}}
              </tbody>
              <thead>
                <tr>
                  <th colspan="17" id='menuCalendarNextMonth'> {{viewingMonth.nextMonthText}}, {{viewingMonth.nextMonthYear}}      </th>
                </tr>
              </thead>
              <tbody>
                {{#each weekOfNextMonth}}
                  {{>menuCalendarWeeks}}
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="col-sm-8">

            <div class="recipeInformation clearfix {{#if selectingMenuWeek}}invisible{{else}}{{/if}}">
              <h3> Please Select a Calendar Week</h3>
            </div>

            <div class="menuInformation clearfix {{#if selectingMenuWeek}}{{else}}invisible{{/if}}">
              <h3 > Menu of {{selectingMenuWeek}}</h3>

              <div id="menuWeekReleased" class="menuWeekReleasedCheckbox">
                <div class="menuWeekReleasedCheckboxIcon"></div>
                <input class="menuWeekReleasedInput" type="checkbox" value=" true">
                  Released
              </div>

              {{>menuAddRecipe}}
              <div class="menuInformationRow">
                  <h5>Menu Summary</h5>
                  <table class='table table-striped table-bordered table-hover table-condensed'>
                    <thead>
                        <tr>

                            <th colspan="4">Recipe</th>
                            <th colspan="2">Classification</th>
                            <th colspan="2">Description</th>
                            <th colspan="1">Is Public?</th>
                            <th colspan="2">Images?</th>
                            <th colspan="1">Seasonal?</th>
                            <th colspan="1">Remove</th>
                        </tr>
                        <tr>
                            <th class='recipeTypeHeader' colspan="14">Single Puree</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#if menuDisplayingRecipeSinglePuree}}
                      {{#each menuDisplayingRecipeSinglePuree}}
                        {{>menuRecipeSinglePuree}}
                      {{/each}}
                    {{else}}
                      <td class='menuRecipeNoRecord' colspan="14"> No record exists.</td>
                    {{/if}}
                    </tbody>

                    <thead>
                        <tr>
                            <th class='recipeTypeHeader' colspan="14">Yummy Pairs</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#if menuDisplayingRecipeYummyPairs}}
                      {{#each menuDisplayingRecipeYummyPairs}}
                        {{>menuRecipeYummyPairs}}
                      {{/each}}
                    {{else}}
                      <td class='menuRecipeNoRecord' colspan="14"> No record exists.</td>
                    {{/if}}
                    </tbody>
                    <thead>
                        <tr>
                            <th class='recipeTypeHeader'  colspan="14">Tasty Trio</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#if menuDisplayingRecipeTastyTrio}}
                      {{#each menuDisplayingRecipeTastyTrio}}
                        {{>menuRecipeTastyTrio}}
                      {{/each}}
                    {{else}}
                      <td class='menuRecipeNoRecord' colspan="14"> No record exists.</td>
                    {{/if}}
                    </tbody>
                  </table>
              </div>
              <div class="menuInformationRow">
                <h3>Recipe Information</h3>

                <div class="menuInformationRow">
                  {{#if menuRecipeDetails.selectedRecipeName}}
                  <div class="col-sm-6">
                    <h4>Recipe Name: {{menuRecipeDetails.selectedRecipeName}}</h4>
                  </div>
                  <div class="col-sm-6">
                    <div class="menuRecipePublicCheckboxWrap clearfix">
                      <label>
                        <div id='menuRecipeSetToPublic' class="menuRecipePublicCheckbox {{#if menuRecipeDetails.menuRecipeIsPublic}}active{{/if}}">
                          <div class="menuRecipePublicCheckboxIcon "></div>

                          <input  checked="" class="allergenInput"  multiple="" name="allergenSoybeans" type="checkbox" value=
                          {{#if  menuRecipeDetails.menuRecipeIsPublic}} true{{else}}false{{/if}}>
                          Set to Public
                        </div>
                      </label>
                    </div>

                    <div class="menuRecipePublicCheckboxWrap clearfix">
                      <label>
                        <div id='menuRecipeSetToPrivate'  class="menuRecipePublicCheckbox {{#if menuRecipeDetails.menuRecipeIsPublic}}{{else}}active{{/if}}">
                          <div class="menuRecipePublicCheckboxIcon "></div>
                          <input checked="" class="allergenInput"  multiple="" name="allergenSoybeans" type="checkbox" value={{#if  menuRecipeDetails.menuRecipeIsPublic}}false{{else}}true{{/if}}>
                          Set to Private
                        </div>
                      </label>
                    </div>
                  </div>
                  {{/if}}
                </div>




                <div class="menuInformationRow">
                  <div class="col-sm-6">
                    <h5>Recipe Images</h5>

                    <div class="recipeInformationContainer">
                      {{#each menuRecipeImage}}
                      <div class="recipeImageUnit" style="background: url('{{this.url}}') no-repeat; background-size: contain">
                      </div>
                      {{/each}}
                    </div>

                  </div>
                  <div class="col-sm-6">

                    <h5>Nutrients</h5>
                    <div class="recipeInformationContainer">
                      <p>
                        {{menuRecipeNutrients}}

                      </p>
                    </div>


                  </div>
                </div>
                <div class="menuInformationRow">
                  <div class="col-sm-6">
                    <h5>Ingredients and Suppliers</h5>
                    <table class='table table-striped table-bordered table-hover table-condensed'>
                      <thead>
                        <tr>
                          <th>Ingredient</th>
                          <th>Producer</th>
                          <th>Neighborhood</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each menuRecipeIngredientNSupplier}}
                        {{>recipeSupplierList}}
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                  <div class="col-sm-6">
                    <h5>Allergens</h5>
                    {{#with menuRecipeAllergens}}
                    <!-- Allergy button, Wheat-->

                    <div class="allergenCheckboxWrap clearfix">
                        <label>
                          <div class="allergenCheckbox {{#if allergenWheat}}active{{/if}}">
                            <input checked="" class="allergenInput" multiple="" name="allergenWheat" type="checkbox" value={{#if allergenWheat}}true{{else}}false{{/if}}>
                            Wheat
                          </div>
                        </label>
                    </div>

                    <!-- Allergy button, Shelfish-->

                    <div class="allergenCheckboxWrap clearfix">
                        <label>
                          <div class="allergenCheckbox {{#if allergenShellfish}}active{{/if}}">
                            <input checked="" class="allergenInput" multiple="" name="allergenShellfish" type="checkbox" value={{#if  allergenShellfish}}true{{else}}false{{/if}}>
                            Shellfish
                          </div>
                        </label>
                    </div>

                    <!-- Allergy button, Eggs-->

                    <div class="allergenCheckboxWrap clearfix">
                        <label>
                          <div class="allergenCheckbox {{#if allergenEggs}}active{{/if}}">
                            <input checked="" class="allergenInput" multiple="" name="allergenEggs" type="checkbox" value={{#if  allergenEggs}}true{{else}}false{{/if}}>
                            Eggs
                          </div>
                        </label>
                    </div>

                    <!-- Allergy button, Fish-->

                    <div class="allergenCheckboxWrap clearfix">
                        <label>
                          <div class="allergenCheckbox {{#if allergenFish}}active{{/if}}">
                            <input checked="" class="allergenInput" multiple="" name="allergenFish" type="checkbox" value={{#if  allergenFish}}true{{else}}false{{/if}}>
                            Fish
                          </div>
                        </label>
                    </div>

                    <!-- Allergy button, Peanuts-->

                    <div class="allergenCheckboxWrap clearfix">
                        <label>
                          <div class="allergenCheckbox {{#if allergenPeanuts}}active{{/if}}">
                            <input checked="" class="allergenInput"  multiple="" name="allergenPeanuts" type="checkbox" value={{#if  allergenPeanuts}}true{{else}}false{{/if}}>
                            Peanuts
                          </div>
                        </label>
                    </div>

                    <!-- Allergy button, Milk-->

                    <div class="allergenCheckboxWrap clearfix">
                      <label>
                        <div class="allergenCheckbox {{#if allergenMilk}}active{{/if}}">
                          <input checked="" class="allergenInput" multiple="" name="allergenMilk" type="checkbox" value={{#if  allergenMilk}}true{{else}}false{{/if}}>
                          Milk
                        </div>
                      </label>
                    </div>

                    <!-- Allergy button, Tree nuts-->

                    <div class="allergenCheckboxWrap clearfix">
                      <label>
                        <div class="allergenCheckbox {{#if allergenTreeNuts}}active{{/if}}">
                          <input checked="" class="allergenInput" multiple="" name="allergenTreeNuts" type="checkbox" value={{#if  allergenTreeNuts}}true{{else}}false{{/if}}>
                          Tree Nuts
                        </div>
                      </label>
                    </div>

                    <!-- Allergy button, Soybeans-->

                    <div class="allergenCheckboxWrap clearfix">
                      <label>
                        <div class="allergenCheckbox {{#if allergenSoybeans}}active{{/if}}">
                          <input checked="" class="allergenInput"  multiple="" name="allergenSoybeans" type="checkbox" value={{#if  allergenSoybeans}}true{{else}}false{{/if}}>
                          Soybeans
                        </div>
                      </label>
                    </div>

                    <h5>Other Allergens</h5>

                    <div class="recipeInformationContainer">
                      <p>
                        {{otherAllergens}}

                      </p>
                    </div>


                    {{/with}}
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>


      </div>
    </div>
  </section>
</template>

<template name="menuCalendarWeeks">
  <tr id={{menuWeekName}} class='menuWeekRow'>
    <td colspan="2">{{weekOfYear}}     </td>
    <td colspan="1">{{#if isReleased}}Y{{else}}N{{/if}}       </td>
    <td colspan="1">{{#if numActiveRecipies}}{{numActiveRecipies}}{{else}}0{{/if}}    </td>
    <td colspan="2">{{dateSU}}         </td>
    <td colspan="2">{{dateMO}}        </td>
    <td colspan="2">{{dateTU}}        </td>
    <td colspan="2">{{dateWE}}        </td>
    <td colspan="2">{{dateTH}}        </td>
    <td colspan="2">{{dateFR}}        </td>
    <td colspan="2">{{dateSA}}        </td>
  </tr>
</template>


<template name="menuAddRecipe">
<!-- Button trigger modal -->

<div class="menuAddRecipeSession">
  <button type="button" class="btn btn-lg" data-toggle="modal" id="menuAddRecipeButton" data-target="#menuAddRecipeForm">
    Add Recipe
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="menuAddRecipeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
        <h4 class="modal-title">Add Recipe to Menu</h4>
      </div>
      <div class="modal-body clearfix">
        <div class="col-sm-2">
          <h5>1. Select a Meal Type:</h5>
          <div class="menuSelectionCol">
            <div id="menuSinglePuree" class="menuTypeCheckboxWrap clearfix">
                <label>
                  <div class="menuTypeCheckbox {{#if selectingMenuType.singlePuree}}active{{else}}{{/if}}" >
                    <div class="menuTypeCheckboxIcon"></div>
                    <input checked="" class="menuTypeInput" type="checkbox">
                    Single Puree
                  </div>
                </label>
            </div>

            <div id="menuYummyPairs" class="menuTypeCheckboxWrap clearfix">
                <label>
                  <div class="menuTypeCheckbox {{#if selectingMenuType.yummyPairs}}active{{else}}{{/if}}" >
                    <div class="menuTypeCheckboxIcon"></div>
                    <input checked="" class="menuTypeInput" type="checkbox">
                    Yummy Pairs
                  </div>
                </label>
            </div>

            <div id="menuTastyTrio" class="menuTypeCheckboxWrap clearfix">
                <label>
                  <div class="menuTypeCheckbox {{#if selectingMenuType.tastyTrio}}active{{else}}{{/if}}" >
                    <div class="menuTypeCheckboxIcon"></div>
                    <input checked="" class="menuTypeInput" type="checkbox">
                    Tasty Trio
                  </div>
                </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h5>2. Select a Recipe: </h5>
          <div id='menuRecipies'  class="menuSelectionCol">
            {{#each menuGettingRecipies}}
              {{>menuGetRecipe}}
            {{/each}}
          </div>
        </div>
        <div class="col-sm-3">
          <h5>3. Ingredients Included in the Recipe </h5>
          <div class="menuSelectionCol">
            {{#each selectingMenuRecipe}}
              {{>ingredientIncludedInRecipe}}
            {{/each}}
          </div>
        </div>

        <div class="col-sm-3">
          <h5>4. Match supplier to ingredient</h5>
          <div class="menuSelectionCol">
            {{#each supplierForIngredient}}
              {{>allSuppliers}}
            {{/each}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
        <button id='addRecipeToMenu' type="button" class="btn btn-primary save" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>

</template>

<template name="menuGetRecipe">
  <div class="recipeSelectionCheckboxWrap clearfix">
      <label>
        <div id='forMenu{{_id}}' class="recipeSelectionCheckbox" >
          <div class="recipeSelectionCheckboxIcon"></div>
          <input checked="" class="menuGetRecipeItem" type="checkbox">
          {{recipeName}}
        </div>
      </label>
  </div>
</template>

<template name="ingredientIncludedInRecipe">
  <div class="selectedIngredientCheckboxWrap clearfix">
      <label>
        <div id='ingreOnMenu-{{ingredientId}}' class="selectedIngredientCheckbox" >
          <div class="selectedIngredientCheckboxIcon"></div>
          <input checked="" class="" type="checkbox">
          {{ingredientName}}
          <div class="supplierforIngredientSelectedIcon">
            <div class='doubleArrowRight'>&#10095;&#10095;
            </div>
          </div>
        </div>
      </label>
  </div>
</template>

<template name="allSuppliers">
  <div class="supplierforIngredientCheckboxWrap clearfix">
      <label>
        <div id='ingreSupplier-{{_id}}' class="supplierforIngredientCheckbox" >
          <div class="supplierforIngredientCheckboxIcon"></div>
          <input checked="" class="" type="checkbox">
          {{supplierName}}
        </div>
      </label>
  </div>
</template>


<template name="menuRecipeSinglePuree">
  <tr class="menuRecipeSinglePuree" id='menuRecipeId{{selectedRecipeId}}'>
    <td colspan="4">{{selectedRecipeName}}</td>
    <td colspan="2">{{classification}}</td>
    <td colspan="2">{{recipeDescription}}</td>
    <td colspan="1">{{#if menuRecipeIsPublic}}Yes{{else}}No{{/if}}</td>
    <td colspan="2">{{#if imageId}}Yes{{else}}No{{/if}}</td>
    <td colspan="1">{{#if recipeIsSeasonal}}Yes{{else}}No{{/if}}</td>
    <td colspan="1"><div class="deleteMenuRecipe">x</div></td>
  </tr>
</template>


<template name="menuRecipeYummyPairs">
  <tr class="menuRecipeYummyPairs" id='menuRecipeId{{selectedRecipeId}}'>
    <td colspan="4">{{selectedRecipeName}}</td>
    <td colspan="2">{{classification}}</td>
    <td colspan="2">{{recipeDescription}}</td>
    <td colspan="1">{{#if menuRecipeIsPublic}}Yes{{else}}No{{/if}}</td>
    <td colspan="2">{{#if imageId}}Yes{{else}}No{{/if}}</td>
    <td colspan="1">{{#if recipeIsSeasonal}}Yes{{else}}No{{/if}}</td>
    <td colspan="1"><div class="deleteMenuRecipe">x</div></td>
  </tr>
</template>

<template name="menuRecipeTastyTrio">
  <tr class="menuRecipeTastyTrio" id='menuRecipeId{{selectedRecipeId}}'>
    <td colspan="4">{{selectedRecipeName}}</td>
    <td colspan="2">{{classification}}</td>
    <td colspan="2">{{recipeDescription}}</td>
    <td colspan="1">{{#if menuRecipeIsPublic}}Yes{{else}}No{{/if}}</td>
    <td colspan="2">{{#if imageId}}Yes{{else}}No{{/if}}</td>
    <td colspan="1">{{#if recipeIsSeasonal}}Yes{{else}}No{{/if}}</td>
    <td colspan="1"><div class="deleteMenuRecipe">x</div></td>
  </tr>
</template>

<template name="recipeSupplierList">
  <tr>
    <td>{{ingredientName}}</td>
    <td>{{supplierName}}</td>
    <td>{{supplierCity}}, {{supplierState}}</td>
  </tr>
</template>
