@media screen and (min-width: 1200px) {  /* -- If the view port is more than 1200px wide (portrait on phone) then display the following styles -- */
  .container-fluid {
    width: 1180px;
  }

  #navMenuLoggedIn .myAccount {
    float: right;
    margin-left: 15px;
  }
}

@media screen and (max-width: 845px) {  /* -- If the view port is less than 845px wide (portrait on phone) then display the following styles -- */
  img {
    margin-left: 20px;
  }

  #navMenuLoggedIn .myAccount {
    float: left;
    margin-left: 15px;
  }
}

.navbar-default {
padding-top: 8px;
padding-bottom: 8px;
background-color: #ffffff;
border-color: #ffffff;
border-bottom: 1px solid #bbb;
border-bottom-width: 1px;
border-bottom-style: solid;
}

#logo {
  width: 105px;
  height: auto;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-nav a {
  font-family: "Gentium Book Basic", sans-serif;
  color: rgb(84, 173, 40) !important;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 4px;
}

#main-header {
  font-family: "Gentium Book Basic", sans-serif;
  background: #fff;
  min-height: 65px;
  position: fixed;
  z-index: 510;
  min-width: 965px;
  width: 100%;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}

.menu-holder {
  float: left;
}

.menu {
  left: 0px;
  top: 0px;
  margin-left: 20px;
}

.sign-up {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  float: right;
  font-family: "Gentium Book Basic", sans-serif;
  color: rgb(84, 173, 40);
  font-size: 20px;
  font-weight: 700;
}

a.sign-up:hover{
  background-color: rgb(39, 85, 1)!important;
}

#navMenuLoggedIn .signOut a{
  padding: 0;
  margin: 0;
  color: #777!important;
  font-size: 16px;

  font-weight: lighter;
}

#navMenuLoggedIn .signOut{
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 16px;
  color: #777;
  font-style: italic;
  margin-top: 12px;
  width: 100%;
  display: block;
  margin-left: 15px;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    text-decoration: none;
    border-bottom: #bbb solid 2px;
}

.navbar .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 12px;
  margin-right: 12px;
}
